<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
<section>
  <header class="msger-header">
    <div class="msger-header-title">
      <i class="fas fa-comment-alt"></i> AI Chat Bot
    </div>
    <div class="msger-header-options">
      <span><i class="fas fa-cog"></i></span>
    </div>
  </header>
  <main class="msger-chat">
      @for(message of messages; track $index){
        @if(message.user === 'Bot'){
      <div class="msg left-msg">
          <div
          class="msg-img"
          style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
          ></div>
          
          <div class="msg-bubble">
              <div class="msg-info">
                  <div class="msg-info-name">BOT</div>
                  <div class="msg-info-time">12:45</div>
                </div>
                
                <div class="msg-text text-dark">
                    {{message.message}}
                </div>
            </div>
        </div>
    }
    @if(message.user === 'User'){
    <div class="msg right-msg">
      <div
       class="msg-img"
       style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
      ></div>

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">Sajad</div>
          <div class="msg-info-time">12:46</div>
        </div>

        <div class="msg-text text-dark">
            {{message.message}}
        </div>
      </div>
    </div>
}
}
</main>
  <form class="msger-inputarea">
    <input [(ngModel)]="message" name="message" type="text" class="msger-input" placeholder="Enter your message...">
    <button (click)="sendMessage()" type="submit" class="msger-send-btn">Send</button>
  </form>
</section>
</div>
</div>
</div>